<login-header></login-header>

<div class="hero-unit">
  <h1>norgesbesterapper.no</h1>
  
  <div class="rapperList">
      <div class="rapperRow" ng-repeat="rapper in rappersAndVotes.rappers | orderBy:predicate:true">
      	<div class="rapperPosition">#{{$index + 1}}</div><div class="rapperName"><h1>{{rapper.name}}<h1><hr><h2>En del tekst om rapperen som kan se fett ut</h2></div><div class="rapperVoteButtons">Tommel ned</div><div class="rapperVoteButtons">Tommel opp</div>
      </div>
  </div>
</div>
